html{
    font-family: "Roboto Mono", monospace,fantasy, sans-serif, serif;
}
body {
/*
    background-image: url(explore1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
*/
    text-align: center;
    background-color: azure            
}
h1, h2, h3{
    color: aqua;
}
.f1 {
    font-family: "Open Sans", serif;
}
.f2 {
    font-family: "Roboto Mono";
}
.f3{
    font-family: "Edu AU VIC WA NT Hand", cursive;
}
.f4 {
    font-family: Audiowide;
}

ul li{
    list-style: none;
    text-decoration: none;
    color: white;
    list-style-type: none;
}
p{
    background-color: beige;
    padding: 20px;
}
.seeker{
    font-size: 24px;
}
.header {
    color: azure;
    text-shadow: 2px 4px 5px blue;
    font-family: sans-serif
}
.table {
    background: linear-gradient(yellow, lavenderblush);
    box-shadow: 2px 4px 5px blue
}
.why {
    background: linear-gradient(to right, lightblue, white)
}