html{
    font-family: "Roboto Mono", monospace,fantasy, sans-serif, serif;
}
body {
/*
    background-image: url(explore1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
*/
/*    text-align: center;*/
    background-color: azure            
}
h1, h2, h3{
    color: aqua;
}
.f1 {
    font-family: "Open Sans", serif;
    letter-spacing: 3px;
    word-spacing: 4px
}
.f2 {
    font-family: "Roboto Mono";
}
.f3{
    font-family: "Edu AU VIC WA NT Hand", cursive;
    letter-spacing: 10px
}
.f4 {
    font-family: Audiowide;
    word-spacing: 10px
}

ul li{
    list-style: none;
    text-decoration: none;
    color: white;
    list-style-type: none;
}
p{
    background-color: beige;
    padding: 20px;
    
}
.seeker{
    font-size: 24px;
}
.header {
    color: azure;
    text-shadow: 2px 4px 5px blue;
    font-family: sans-serif;
}
.img1{
    border-radius: 50%;
    border: 10px solid #ddd; 
    padding: 5px;
    width: 500px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto    
        
}
.img2 {
    opacity: 0.6;
    border-radius: 20px;    
    padding: 10px;
    width: 500px;
        
        
}
.table {
    background: linear-gradient(yellow, lavenderblush);
    box-shadow: 2px 4px 5px blue
}
.why {
    background: linear-gradient(to right, lightblue, white)
}