.about-title
    font-size: $font-xlg
    margin: 30px 0 0
    color: $base-dark


.about-text
    margin: 0 0 50px
    color: lighten($base-dark, 10%)
    letter-spacing: -.0252em
    font-size: 20px
